<div class="row">
  <div class="col s12 m10 offset-m3">
    <%= form_with(model: [@client, @skinfold], local: true) do |sf_f|  %>
      <div class="row">
        <div class="input-field col s6 m3">
          <%= sf_f.number_field :chest, :onkeypress => "return isNumberKey(event)" %>
          <label for="chest">PEITORAL: </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 m3">
          <%= sf_f.number_field :midaxilary, :onkeypress => "return isNumberKey(event)" %>
          <label for="midaxilary">AXILAR MÉDIA: </label>
        </div>
        <div class="input-field col s6 m3">
          <%= sf_f.number_field :subscapular, :onkeypress => "return isNumberKey(event)" %>
          <label for="subscapular">SUBESCAPULAR: </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 m3">
          <%= sf_f.number_field :bicep, :onkeypress => "return isNumberKey(event)" %>
          <label for="bicep">BÍCEPS (D): </label>
        </div>
        <div class="input-field col s6 m3">
          <%= sf_f.number_field :tricep, :onkeypress => "return isNumberKey(event)" %>
          <label for="tricep">TRÍCEPS: </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 m3">
          <%= sf_f.number_field :abdominal, :onkeypress => "return isNumberKey(event)" %>
          <label for="abdominal">ABDOMINAL: </label>
        </div>
        <div class="input-field col s6 m3">
          <%= sf_f.number_field :suprailiac, :onkeypress => "return isNumberKey(event)" %>
          <label for="suprailiac">SUPRA-ILÍACA: </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6 m3">
          <%= sf_f.number_field :thigh, :onkeypress => "return isNumberKey(event)" %>
          <label for="thigh">COXA: </label>
        </div>
        <div class="input-field col s6 m3">
          <%= sf_f.number_field :calf, :onkeypress => "return isNumberKey(event)" %>
          <label for="calf">PANTURRILHA: </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m6">
          <%= sf_f.button "Salvar", class: "waves-effect waves-light btn col s12" %>
        </div>
      </div>
      <div class="row">
        <div class="input-field center-align">
          <%= link_to "Retornar", :back, class: "col s12 m6" %>
        </div>
      </div>
    <% end %>
  </div>
</div>