<% @client.skinfolds.each do |skinfold| %>
  <tr>
    <td><%= skinfold.created_at.strftime("%d/%m/%Y") %></td>
    <td>
      <!-- Modal Trigger -->
      <button data-target="skinfold_modal_<%= skinfold.id %>" data-toggle="modal" class="btn indigo modal-trigger tooltipped"
        data-positon="bottom" data-tooltip="Vizualizar Dados"><i class="material-icons">folder</i></button>
      <!-- Modal Structure -->
      <div id="skinfold_modal_<%= skinfold.id %>"  class="modal">
        <div class="row">
          <div class="col s12">
            <div class="modal-content">
              <div class="row">
                <h2><b>DOBRAS CUTÂNEAS</b></h2>
              </div>
              <div class="row">
                <div class="col s12">
                  <h3>
                    <label>
                      Data da Coleta:                         
                    </label>
                    <%= skinfold.created_at.strftime("%d/%m/%Y") %>
                  </h3>
                </div>
              </div>
              <hr class="modal-hr">
              <div class="row">
                <div class="col s6 m4 offset-m2">
                  <p>
                    <label>
                      Peitoral: 
                    </label>
                    <%= skinfold.chest %> mm
                  </p>
                </div>
                
                <div class="col s6">
                  <p>
                    <label>
                      Axilar Média: 
                    </label>
                    <%= skinfold.midaxilary %> mm
                  </p>
                </div>
                
              </div>
              <div class="row">
                <div class="col s6 m4 offset-m2">
                  <p>
                    <label>
                      Subescapular: 
                    </label>
                    <%= skinfold.subscapular %> mm
                  </p>
                </div>
                
                <div class="col s6">
                  <p>
                    <label>
                      Biciptal: 
                    </label>
                    <%= skinfold.bicep %> mm
                  </p>
                </div>

              </div>
              <div class="row">
                <div class="col s6 m4 offset-m2">
                  <p>
                    <label>
                      Tricipital: 
                    </label>
                    <%= skinfold.tricep %> mm
                  </p>
                </div>
                
                <div class="col s6">
                  <p>
                    <label>
                      Abdominal: 
                    </label>
                    <%= skinfold.abdominal %> mm
                  </p>
                </div>

              </div>
              <div class="row">
                <div class="col s6 m4 offset-m2">
                  <p>
                    <label>
                      Coxa: 
                    </label>
                    <%= skinfold.thigh %> mm
                  </p>
                </div>
                
                <div class="col s6">
                  <p>
                    <label>
                      Panturrilha: 
                    </label>
                    <%= skinfold.calf %> mm
                  </p>
                </div>
              </div>
              <% if @client.skinfolds.exists? client_id: @client.id %>
                <div class="row">
                  <div class="col s6 offset-s3">
                    <p>
                      <label>
                        * Gordura Corporal: 
                      </label>
                      <%= @client.fat_percentage(skinfold.id) %> %
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12">
                    <span>
                      * Assumindo que os valores das dobras e sexo estão adicionados corretamente.
                    </span>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col s12">
                    <span>
                      Método: Jackson e Pollock, 7 Dobras
                    </span>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-close waves-effect waves-green btn-flat">Fechar</a>
        </div>
      </div>
    </td>
  </tr>
<% end %>