<%= render 'shared/errors', obj: @user %>

<div id="login-body">
  <div id="signup-page" class="row">
      <div class="col s12 z-depth-6 card-panel">
        <%= form_for(@user, :html => { class: "login-form", role: "form" }) do |f| %>
          <div class="row">
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_box</i>
              <%= f.text_field :username, class: "validate" %>
              <label for="username">Nome de usuário</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">business</i>
              <%= f.text_field :business_name, class: "validate" %>
              <label for="business_name">Nome Fantasia</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">mail_outline</i>
              <%= f.text_field :email, class: "validate" %>
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">mail_outline</i>
              <%= f.text_field :email_confirmation, class: "validate" %>
              <label for="email_confirmation">Confirme seu Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">lock_outline</i>
              <%= f.password_field :password, class: "validate"%>
              <label for="password">Senha</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">lock_outline</i>
              <%= f.password_field :password_confirmation, class: "validate"%>
              <label for="password_confirmation">Confirme sua Senha</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.button(@user.new_record? ? "Registrar-se" : "Atualizar conta", class: "btn waves-effect waves-light col s12") %>
            </div>
          </div>
          <% if @user.nil? %>
            <div class="row">
              <div class="input-field col s6 m6 l6">
                <p class="margin medium-small">Já possui uma conta? <%= link_to "Log in", login_path %>.</p>
              </div>     
            </div>
          <% else %>
            <div class="row">
              <div class="input-field center-align">
                <%= link_to "Retornar", :back, class: "col s8 offset-s2" %>
              </div>
            </div>
          <%end%>
      <% end %>
      </div>
    </div>
  </div>
  


