<div class="col s12">
  <%= form_for(@client, :html => { role: "form" }) do |f| %>
    <div class="row">
      <div class="input-field col s6 offset-s2">
        <i class="material-icons prefix">account_box</i>
        <%= f.text_field :name, class: "validate" %>
        <label for="name">Nome Completo</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s2 offset-s2">
        <i class="material-icons prefix">cake</i>
        <%= f.text_field :birthdate, class: "datepicker"%>          
        <label for="birhdate">Data de Nascimento</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 offset-s2">
        <i class="material-icons prefix">add_location</i>
        <%= f.text_area :address, :id => "address_area", :cols => 30, :rows => 10, class: "materialize-textarea validate" %>
        <label for="address">Endereço</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 offset-s2">
        <i class="material-icons prefix">phone_android</i>
        <%= f.text_field :cellphone, class: "validate phone_with_ddd", :data => {:mask=> '(99) 9 9999-9999'} %>
        <label for="cellphone">Celular</label>
      </div>
    </div>
    <div class="row">
      <p class="col s2 offset-s2">
        <b>Gênero: </b>
        <p>
          <label>
            <%= f.radio_button :gender, 'Masculino', :checked => 'checked', class: "with-gap" %>
            <span>Masculino</span> 
          </label>
          <label>
            <%= f.radio_button :gender, 'Feminino', class: "with-gap" %>
            <span>Feminino</span> 
          </label>
        </p>
        <p>
          <label>
            <%= f.radio_button :gender, 'Não revelado', class: "with-gap" %>
            <span>Não revelado</span> 
          </label>
          <label>
            <%= f.radio_button :gender, 'Outro', class: "with-gap" %>
            <span>Outro</span> 
          </label>
        </p>
      </p>
    </div>
    <div class="row">
      <div class="input-field col s6 offset-s2">
        <%= f.submit(@client.new_record? ? "Registrar-se" : "Atualizar conta", class: "btn waves-effect waves-light col s12") %>
      </div>
    </div>
    <% end %>
    
    <script>
      $(document).ready(function(){
        $('.datepicker').datepicker({
          i18n: {
            months: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            weekdays: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabádo'],
            weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
            weekdaysAbbrev: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S'],
            today: 'Hoje',
            clear: 'Limpar',
            cancel: 'Sair',
            done: 'Confirmar',
            labelMonthNext: 'Próximo mês',
            labelMonthPrev: 'Mês anterior',
            labelMonthSelect: 'Selecione um mês',
            labelYearSelect: 'Selecione um ano',
            selectMonths: true,
            selectYears: 15,
          },
          format: 'dd/mm/yyyy',
          container: 'body',
          yearRange: [1940, 2040]
          });
      });
    </script>