<h1 align="center">Clientes Cadastrados</h1>

<div align="center">
  <div class="row">
    <div class="col s12">
      <div id="search-box" class="input-field col s8 offset-s2" class="center-align">
        <i class="material-icons prefix">search</i>
        <input id="myInputTextField" type="text">
        <label for="myInputTextField">Procurar</label>
      </div>
      <table id="clients_table" class="stripe centered">
        <thead>
          <tr>
              <th>#ID</th>
              <th>Nome</th>
              <th>Celular</th>
              <th>Ações</th></th>
          </tr>
        </thead>
        <tbody>
          <% @clients.each do |client| %>
          <tr>
            <td><%= client.id %></td>
            <td><%= client.name.upcase %></td>
            <td><%= client.cellphone %></td>
            <td>
              <%= link_to client_path(client), :class => "waves-effect waves-light indigo btn tooltipped", 
                data: { position: "bottom", tooltip: "Vizualizar Informações" } do %>
                <i class="material-icons">account_box</i>
              <% end %>
              <%= link_to edit_client_path(client), :class => "waves-effect waves-light amber btn tooltipped", 
                data: { position: "bottom", tooltip: "Editar" } do %>
                <i class="material-icons">edit</i>
              <% end %>
              <%= link_to new_client_measurement_path(client), :class => "waves-effect waves-light pink darken-1 btn tooltipped", 
                data: { position: "bottom", tooltip: "Nova perimetria" } do %>
                <i class="material-icons">filter_1</i>
              <% end %>
              <%= link_to new_client_skinfold_path(client), :class => "waves-effect waves-light teal accent-3 btn tooltipped", 
                data: { position: "bottom", tooltip: "Nova adipometria" } do %>
                <i class="material-icons">filter_2</i>
              <% end %>
              <%= link_to client_path(client), method: :delete, data: { confirm: "", position: "bottom", tooltip: "Excluir" }, 
                :class => "waves-effect waves-light red btn tooltipped" do %>
                <i class="material-icons">delete</i>
              <% end %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  $(document).ready( function () {
    oTable = $('#clients_table').DataTable({
      "dom": 'lrtip',
      language: {
				processing: 'Processando...',
				search: 'Procurar',
				lengthMenu: 'Mostrando _MENU_ registros',
				info: 'Mostrando página _PAGE_ 	de _PAGES_',
				infoEmpty: 'Nenhum registro para mostrar',
				infoFiltered: '(filtrado do total de _MAX_ registro(s))',
				infoPostFix: "",
				loadingRecords: 'Por favor espere - carregando...',
				zeroRecords: 'Nenhum registro com esse dado encontrado',
				emptyTable: 'Nenhum dado disponível na tabela',
				paginate: {
					first: 'Primeira página',
					last: 'Última página',
					next: 'Próx',
					previous: 'Ant'
				},
				aria: {
					sortAscending: 'Ative para ordernar a tabela de forma ascendente',
					sortDescending: 'Ative para ordernar a tabela de forma descendente'
				}
			},
			"search": {
        "caseInsensitive": true
      },
    });
  });
  
  $(document).ready(function(){
    $('.tooltipped').tooltip();
  });
  
  $('#myInputTextField').keyup(function(){
      oTable.search($(this).val()).draw() ;
  })
  
  $(document).ready(function(){
    $('select').formSelect();
  });
       

</script>