<div class="center jumbotron">
  <h1>Academia <%= current_user.business_name %></h1>
</div>

<script>
    Chartkick.configure({language: "pt-BR"})
    
</script>

<br/>
<div class="row">
  </br>
  <div class="col s12 m6">
    <%= line_chart @clients.group_by_month(:created_at, format: "%b %y").count, title: "Novos clientes x Mês"%>
  </div>
  </br>
  <div class="col s12 m6">
   <%= pie_chart @clients.group(:gender).count, title: "Clientes x Gênero" %>
  </div>
  </br>
</div>

<div class="row">
  </br>
  <div class="debt col s12 m6 center-align">
    <h5><b>Clientes em débido: </b></h5>
    <br/>
    <%= link_to @clients_indebt.count, indebts_path, class: "btn-floating btn-large red pulse text" %>
  </div>
  </br>
  <div class="col s12 m6">
    <%= column_chart Payment.group_by_day(:payment_date, format: "%d %b", range: 1.weeks.ago.midnight..Date.current).sum(:value), 
    prefix: "R$ ", title: "Recebimentos dos últimos 7 dias" %>
  </div>
  </br>
</div>
